button {
  font-family: "OpenSans","Helvetica Neue",arial,sans-serif !important;
}
button.btn-link {
  color: var(--link, #206095);
  background: none;
  border: none;
  margin: 0;
  padding: 4px 0 0;
  text-decoration: underline;
  text-underline-position: under;
}
a:hover, button.btn-link:hover {
  text-decoration-thickness: 2px !important;
}
button.btn-link:hover {
  color: var(--link-hover, #003c57);
}
button.btn-link:focus {
  color: var(--text, #222);
  background-color: var(--ons-color-sun-yellow, #fbc900);
  box-shadow: var(--ons-color-sun-yellow, #fbc900) 0px -2px 0px 0px, var(--text, #222) 0px 4px 0px 0px;
}
button.ons-breadcrumb__link {
  color: var(--text, #222);
  margin-bottom: 18px;
}
.ons-card {
  margin: 0;
}

.tile__content {
	page-break-inside: avoid;
}

.pgp-map-tiles {
	page-break-inside: avoid;
}

@media (max-width: 600px) {
  .use-this-profile-buttons button {
    margin-bottom: 9px !important;
    margin-left: 0px !important;
  }
}

@media print {
  body {
    width: 1000px;
  }

  .ons-btn {
    display: none;
  }
}

summary:focus:not(:active) h3 > span {
  background: var(--ons-color-sun-yellow, rgb(251, 201, 0)) !important;
  color: black;
  box-shadow: 0 .1666666667em 0 black;
}

summary:focus:hover:not(:active) h3 > span {
  background: rgb(226, 181, 0) !important;
}

.ons-panel + .ons-panel {
  margin-top: 0;
  padding-top: 0;
}
h3.ons-card__title {
  line-height: 1.2 !important;
  margin-bottom: 10px !important;
}