button {
  font-family: "OpenSans","Helvetica Neue",arial,sans-serif !important;
}
button.btn-link {
  color: var(--link, #206095);
  background: none;
  border: none;
  margin: 0;
  padding: 4px 0 0;
  text-decoration: underline;
  text-underline-position: under;
}
a:hover, button.btn-link:hover {
  text-decoration-thickness: 2px !important;
}
button.btn-link:hover {
  color: var(--link-hover, #003c57);
}
button.btn-link:focus {
  color: var(--text, #222);
  background-color: var(--ons-color-sun-yellow, #fbc900);
  box-shadow: var(--ons-color-sun-yellow, #fbc900) 0px -2px 0px 0px, var(--text, #222) 0px 4px 0px 0px;
}
button.ons-breadcrumb__link {
  color: var(--text, #222);
  margin-bottom: 18px;
}
.ons-card {
  margin: 0;
}

.tile__content {
	page-break-inside: avoid;
}

.pgp-map-tiles {
	page-break-inside: avoid;
}

@media print {
  body {
    width: 1000px;
  }

  .ons-btn {
    display: none;
  }
}